body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.header_options {
  display: flex;
}

.app {
  font-family: "Poppins";
  .header {
    padding: 0 70px;
    margin-bottom: 70px;
    font-family: "Poppins";

    .username {
      margin-left: 20px;
      font-weight: 600;
    }
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #f7f7fc;
    &_options {
      button {
        font-family: "Poppins";
        margin-right: 10px;
        font-weight: 400;
      }
      img {
        margin-right: 8px;
      }
      margin-left: 66%;
      display: flex;
      justify-content: space-between;
    }
  }
  h1 {
    padding: 0px 0px 60px 70px;
    font-weight: 400;
  }
  .profiles {
    padding: 0px 70px 0px 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    &_creation_block {
      justify-content: center;
      margin-bottom: 40px;
      color: #4e4b66;
      font-size: 24px;
      font-weight: 500;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 40px;
      width: 320px;
      height: 298px;
      border-radius: 16px;
      background-color: #f7f7fc;
      border-color: #f7f7fc;
      img {
        margin-bottom: 20px;
      }
      span {
        margin-bottom: 20px;
      }
    }
    &_block {
      justify-content: center;
      margin-bottom: 40px;
      color: #4e4b66;
      font-size: 24px;
      font-weight: 500;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 40px;
      width: 320px;
      height: 298px;
      border-radius: 16px;
      background-color: #f7f7fc;
      border-color: #f7f7fc;
      span {
        margin-bottom: 20px;
      }
    }
  }
}
