body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.app {
  font-family: "Poppins";
  .header {
    display: flex;
    flex-wrap: wrap;
    padding: 0 70px;
    margin-bottom: 70px;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #f7f7fc;
    font-family: "Poppins";
    .username {
      margin-left: 20px;
      font-weight: 600;
    }
    &_options {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: 66%;
      button {
        font-family: "Poppins";
        margin-right: 10px;
        font-weight: 400;
      }
      img {
        margin-right: 8px;
      }
    }
  }
  h1 {
    padding: 0px 0px 60px 70px;
    font-weight: 400;
  }
  .profiles {
    margin: 0px 0px 0px 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    &_creation_block {
      margin-right: 5%;
      justify-content: center;
      margin-bottom: 40px;
      color: #4e4b66;
      font-size: 24px;
      font-weight: 500;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 40px;
      width: 320px;
      height: 298px;
      border-radius: 16px;
      background-color: #f7f7fc;
      border-color: #f7f7fc;
      img {
        margin-bottom: 20px;
      }
      span {
        margin-bottom: 20px;
      }
    }
    &_block {
      margin-right: 5%;
      justify-content: center;
      margin-bottom: 40px;
      color: #4e4b66;
      font-size: 24px;
      font-weight: 500;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 40px;
      width: 320px;
      height: 298px;
      border-radius: 16px;
      background-color: #f7f7fc;
      border-color: #f7f7fc;
      span {
        margin-bottom: 20px;
      }
      button {
        height: 40px;
        width: 100px;
        margin-right: 15px;
      }
    }
  }
  .users_delete {
    margin-left: 30%;
    color: #4e4b66;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 298px;
    span {
      margin-bottom: 10px;
    }
    button {
      height: 35px;
      width: 85px;
      margin-right: 15px;
    }
  }
}
