.wrapper {
  padding-top: 400px;
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.fillings {
  .title {
    padding: 120px 0px 130px 0px;
    font-size: 48px;
    font-weight: 600;
  }

  .field {
    padding-bottom: 5px;
    font-weight: 400;
    font-size: 18px;
    color: #6e7191;
  }
}

.fill {
  padding-bottom: 25px;
  font-weight: 400;
  font-size: 24px;
  color: #14142b;
  border-bottom: 1px solid #14142b;
}

.submit {
  margin: 10px 0px 10px 0px;
}

.modal_buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px 0px 10px;
  button {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 38px;
    background-color: #eff0f6;
    border-radius: 9px;
    border-color: white;
  }
  img {
    margin-top: 8px;
  }
}
